**/.ipynb_checkpoints
**/__pycache__
**/node_modules

**/credentials
**/server/certificate
**/server/secrets
**/server/public
**/website/build
**/website/public/assets/password.txt
**/website/public/assets/plots.*
/logs

**/bluehost.txt